<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="js/my.js"></script>
</head>
<body>
<div class="container">
    <h2>Bordered Table</h2>
    <p>{{1}}</p>
    <table class="table table-bordered" id="names">
        <thead>
        <tr>
            <th>{{2}}</th>
            <th>{{3}}</th>
            <th>Интерфейс</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        </tr>
        </tbody>
    </table>


    <form id="formPerson">
        <div class="form-group">
            <label for="position">Позиция</label>
            <input type="number" class="form-control" id="position" name="position">
            <label for="name">Название</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <button type="submit" id="add" class="btn btn-primary">Добавить</button>
        <!--<button type="submit" id="get" class="btn btn-primary">Получить</button>-->


    </form>

</div>
</body>

</html>